body {
    font-family: Arial;
}

.header{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    flex-basis:  250px;
}

.post-button {
    padding: 9px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    background-color: black;
    text-decoration: none;
    border: none;
    color: lime;
    display: inline-block;
}
.card {
    background-color: gray;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.card-header {
    background-color: silver;
    color: black;
    font-weight: bold;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.card-title {
    padding: 4px;
    text-align: center;
}

.card-content {
    padding: 4px; 
    text-align: center;
}

.content-image {
    width: 50%;
    height: auto;
}

.side-news {
    font-size: medium;
    text-align: center;
}
.content-1 { 
    margin-bottom: 50px;
     margin-left: 30px; 
     margin-right: 30px; 
     margin-top: 15px;
}

.card-1 {
    background-color: darkgrey; 
        font-size: medium;
        text-align: center;
        border: solid black;

}

.paragraph {
    margin-bottom: 15px;
}

.card-content-0 {
    text-align: left;
}